<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!-- Passes per configurar:
            1. Afegir dependencies d'hibernate i driver MySQL a pom.xml de Maven
            2. Moure fitxer hibernate.cfg.xml a /nomProjecte/src/main/resources
            3. Substituir valors entre {}
            4. Afegir mapping per cada classe a mapejar per Hibernate (recomanat package dedicat)    
    -->
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/campus</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property> 
        <property name="connection.pool_size">10</property><!--Incrementar en cas de aplicacio real-->
         
         
         <!--Mappings -->
        <mapping class="com.mycompany.campus.datamodel.entities.Cliente"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.Profesor"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.Curso"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.ClienteCurso"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.CursoTema"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.Tema"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.CursoInfo"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.Info"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.RegistroCompra"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.Newpass"></mapping>
        <mapping class="com.mycompany.campus.datamodel.entities.Categoria"></mapping>
    </session-factory>
</hibernate-configuration>